.app {
  background-color: #1e243a;
}

.chat {
  position: absolute;
  right: 0;
  top: 0;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 1760px) {
  .container {
    margin: unset;
  }

  .app {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1360px) {
  .container {
    margin: 0 auto;
  }
  .chat {
    position: unset;
  }
}
